- title = 'Default Chart Title' unless title
- chart_data = [] unless chart_data
- width = 800 unless width
- height = 400 unless height
:javascript
  google.load('visualization', '1', {'packages':['annotatedtimeline']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', '#{title}');
    #{ "data.addColumn('number', '#{title2} in ms');" if defined?(title2) && ! title2.blank? }
    data.addRows([
      [ #{ chart_data.join("],[") } ]
    ]);
    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('#{title.downcase.tr(" .", "_")}'));
    chart.draw(data, {
      displayAnnotations: true,
      allValuesSuffix: ' ms',
      dateFormat: 'HH:mm MMMM dd, yyyy',
      legendPosition: 'newRow',
      scaleColumns: [0, 1],
      #{ "scaleType: 'allfixed'," unless defined?(dual_axis) && ! dual_axis }
      displayRangeSelector : true
      });
  }
%h2= title
%div{ id: title.downcase.tr(" .", "_"), style: "width: #{width}px; height: #{height}px;" }
