#custom_chart_form
  %h3= "Create A Custom Chart"
  = form_tag(custom_graphite_path, method: :get) do
    %ul
      %li
        = label_tag("Target")
        = text_field_tag(:target, @target)
      %li
        = label_tag("From")
        = text_field_tag(:from, @from)
      %li
        = label_tag("To")
        = text_field_tag(:to, @to)
      %li
        = label_tag("Interval")
        = text_field_tag(:interval, @interval)
      %li
        = submit_tag "Create Chart"
