%h1= "EOL Fancy Charts And Graphs"

.apdex
  %h2
    Apdex:
  %small
    (via
    = link_to("New Relic", NewRelic.link)
    )
  %p
    %span.avg
      = number_to_human(NewRelic.apdex_day_avg.to_f, precision: 2)
      (avg)
    \/
    %span.now
      = number_to_human(NewRelic.apdex.to_f, precision: 2)
      (now)

%div{ style: 'float: left; margin-left: 50px' }
  = render :partial => 'google_charts/annotated_time', locals: { chart_data: @api_searches,
    title: "API Searches", width: 500, height: 300 }

%div{ style: 'float: right; margin-right: 50px' }
  = render :partial => 'google_charts/annotated_time', locals: { chart_data: @home_page_load_time_data,
    title: "Home Page Load Time", width: 500, height: 300 }

%br
%div{ style: 'float: left; margin-left: 50px' }
  = render :partial => 'google_charts/annotated_time', locals: { chart_data: @taxa_page_load_time_data,
    title: "Taxa Page Load Time", width: 500, height: 300 }

%div{ style: 'float: right; margin-right: 50px' }
  = render :partial => 'google_charts/annotated_time', locals: { chart_data: @slave_lag,
    title: "Slave Lag", width: 500, height: 300 }
