%h1= "EOL Fancy Charts And Graphs"

.apdex
  %h2
    Apdex:
  %p
    %span.avg= NewRelic.apdex_day_avg
    \/
    %span.now= NewRelic.apdex



%div{ style: 'float: left; margin-left: 50px' }
  = render :partial => 'google_charts/annotated_time', locals: { chart_data: @api_searches,
    title: "API Searches", width: 500, height: 300 }

%div{ style: 'float: right; margin-right: 50px' }
  = render :partial => 'google_charts/annotated_time', locals: { chart_data: @home_page_load_time_data,
    title: "Home Page Load Time", width: 500, height: 300 }

%br
%div{ style: 'float: left; margin-left: 50px' }
  = render :partial => 'google_charts/annotated_time', locals: { chart_data: @taxa_page_load_time_data,
    title: "Taxa Page Load Time", width: 500, height: 300 }

%div{ style: 'float: right; margin-right: 50px' }
  = render :partial => 'google_charts/annotated_time', locals: { chart_data: @slave_lag,
    title: "Slave Lag", width: 500, height: 300 }
